<p>404 - page not found </p>

<div style="display:inline;float:left;background-color:white;padding:10px;" >
  <a href="/" ><img id="logo" src="http://i.imgur.com/U71ffzY.gif" alt="MailBait" style="border: none;"/><br/>
  <div style="text-align:center;color:darkblue;background-color:white;">Fill Your Inbox</div> </a>
</div>


