<p>404 - page not found </p>

<div style="display:inline;float:left;background-color:white;padding:10px;" >
  <a href="/" ><img class="logo" id="logo" src="http://i.imgur.com/U71ffzY.gif" alt="MailBait" style="border: none;"/></a>
  <div style="text-align:center;color:darkblue;background-color:white;">Fill Your Inbox</div>
</div>

