button { overflow: visible; }
select { vertical-align: middle; }


.dash-field {
	width: 79.9%;
}

#dash-appointments-services-list {
	margin-right: 20px;
}

#dash-appointments-services-add-submit {
	width: 150px;
}

#dash-appointments-services-add-duration {
	float: left;
}


#dash-path {
	background-color: #EDEDED;
}
