<p>skipping https submissions.  <br/>give it a sec and we'll try the next page. </p>

<div style="display:inline;float:left;background-color:white;padding:10px;" >
  <a href="/" ><img class="logo" id="logo" src="logo.gif" alt="MailBait" style="border: none;"/></a>
  <div style="text-align:center;color:darkblue;background-color:white;">Fill Your Inbox</div>
</div>

