/* ========== */
/* ! Global   */
/* ========== */

html {
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	color: #666666;
	
	min-height: 100%;
	background-color: lightgrey;
}

body {
	background: lightgrey;
}

a {
	color: #2D8DFA;
}

strong {
	font-weight: bold;
}

em {
	text-decoration: underline;
}


.highlight {
	padding: 5px;
	text-align: center;

	background-color: #888;
	color: white;
}

hr {
	margin: 35px 0;
	opacity: 0.3;
}

.ui-tooltip-content {
	font-size: 14px;
	padding: 10px !important;
	line-height: 18px;
}

.tooltip {
	width: 16px;
	vertical-align: middle;
/* 	opacity: 0.4; */
}

#wrapper {
	padding-bottom: 25px;

	border: 2px solid #d1d1d1;
	background-color: white;
	border-radius: 25px;
	overflow: hidden;
}

#main {
	width: 1104px;
	margin: 15px auto 25px auto;
}

/* =========== */
/* ! Buttons   */
/* =========== */

button {
	border-radius: 10px;	
	color: white;
	margin: 0;
	border: 3px solid #FF0000;
	font-weight: bold;
		
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF7D7D), color-stop(100%, #FF0000));
	background: -webkit-linear-gradient(top center, #FF7D7D, #FF0000);
	background: -moz-linear-gradient(top center, #FF7D7D, #FF0000);
	background: -o-linear-gradient(top center, #FF7D7D, #FF0000);
	background: -ms-linear-gradient(top center, #FF7D7D, #FF0000);
	background: linear-gradient(top center, #FF7D7D, #FF0000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF7D7D', EndColorStr='#FF0000');
}

button.large {
	padding: 10px 25px;
}

button.medium {
	padding: 6px 20px;
}

button.small {
	padding: 2px 15px;
	border-radius: 7px;
}


button:active {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF0000), color-stop(100%, #FF7D7D));
	background: -webkit-linear-gradient(top center, #FF0000, #FF7D7D);
	background: -moz-linear-gradient(top center, #FF0000, #FF7D7D);
	background: -o-linear-gradient(top center, #FF0000, #FF7D7D);
	background: -ms-linear-gradient(top center, #FF0000, #FF7D7D);
	background: linear-gradient(top center, #FF0000, #FF7D7D);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0000', EndColorStr='#FF7D7D');
}


/* ========== */
/* ! Fields   */
/* ========== */

input[type=text],
textarea {
	border: 1px solid #999999;
	border-radius: 2px;
}
input[type=text] {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(10%, white));
	background: -webkit-linear-gradient(top, #ebebeb 0%, white 10%);
	background: -moz-linear-gradient(top, #ebebeb 0%, white 10%);
	background: -o-linear-gradient(top, #ebebeb 0%, white 10%);
	background: -ms-linear-gradient(top, #ebebeb 0%, white 10%);
	background: linear-gradient(top, #ebebeb 0%, white 10%);

	padding: 4px 3px;
}

textarea {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(3px, white));
	background: -webkit-linear-gradient(top, #ebebeb 0%, white 3px);
	background: -moz-linear-gradient(top, #ebebeb 0%, white 3px);
	background: -o-linear-gradient(top, #ebebeb 0%, white 3px);
	background: -ms-linear-gradient(top, #ebebeb 0%, white 3px);
	background: linear-gradient(top, #ebebeb 0%, white 3px);

	resize: vertical;
	padding: 6px 5px;
}
input[type=text]:focus,
textarea:focus {
	outline: none;
}

/* =========== */
/* ! Wrapper   */
/* =========== */

#header {
	overflow: hidden;
	padding: 20px 25px;
	background-color: #000000; /* fallback */
	box-shadow: 0 0 5px #888;	
	color: #000;
	height: 35px;
	width: 700px:
	padding: 0px; 
	border-bottom:thick solid #FF0000;

	/* made from http://ie.microsoft.com/testdrive/graphics/cssgradientbackgroundmaker/default.html */
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(left, #FFFFFF 20%, #000000 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #FFFFFF 20%, #000000 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(left, #FFFFFF 20%, #000000 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(.2, #FFFFFF), color-stop(1, #000000));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #FFFFFF 20%, #000000 100%);
	
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(left, #FFFFFF 20%, #000000 100%);
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorStr=#FFFFFF, EndColorStr=#000000);
}

#header-logo {
	float: left;

	font-size: 3em;
	color: white;
	text-decoration: none;
	font-weight: bold;
	
	height: 48px;
	width: 256px;
}

#header-nav {
	float: right;
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 13px;
}

#header-nav > li {
	display: inline;
	margin-left: 50px;
}

#header-nav > li:first-child {
	margin-left: 0;
}

#header-nav > li > a {
	color: white;
	text-decoration: none;
}

#header-nav > li > a:hover > span {
	text-decoration: underline;
}

#header-nav > li > a > span {

}

#header-nav > li > a > img {
	vertical-align: middle;
	margin-right: 3px;
	position: relative;
	bottom: 2px;
}


#header-subscribe {
	float: right;
	margin-right: 60px;
}



#focus {
	clear: left;
	overflow: hidden;
	padding: 35px 25px 0 25px;
}

#focus > li {
	overflow: hidden;
	display: none;
}

#focus > li:first-child {
	display: block;
}


#footer {
	margin-top: 15px;
	text-align: center;
}

#footer-links {
	margin-bottom: 10px;
	font-size: 1.5em;
}

#footer-links > li {
	display: inline;
}

#footer-links > li:before {
	content: '\2022';
	margin: 0 10px 0 5px;
	
}

#footer-links > li:first-child:before {
	content: none;
	margin: 0;
}

#footer-copyright {
	display: block;
	font-size: 1.5em;
}


/* ============== */
/* ! Front Page   */
/* ============== */



#front-header {
	text-align: center;
}

#front-header > h1 {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 10px; 

}

#front-header > h2 {
	font-size: 2.5em;
/* 	padding: 0 50px; */
	line-height: 1.2em;
}


/*
#front-features {
	overflow: hidden;
}

#front-features > li {
	float: left;
	width: 30%;
	padding: 0 1.66%;
	text-align: center;
}

#front-features-button > .front-features-image {
	background-image: url(http://subtlepatterns.com/patterns/stucco.png);
}

.front-features-title {
	font-size: 2em;
	font-weight: bold;
}

.front-features-image {
	box-shadow: 0 0 2px black;
	-webkit-box-shadow: 0 0 2px black;
	-moz-box-shadow: 0 0 2px black;
	
	border-radius: 5px;
	margin: 15px 0 10px 0;
	width: 315px;
	height: 200px;
	overflow: hidden;
}

.front-features-desc {
	font-size: 1.7em;
	line-height: 1.3em;
}
*/

#front-explain {
	overflow: hidden;
}

#front-explain-left,
#front-explain-right {
	float: left;
	width: 480px;
}

#front-explain > div > h3 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

#front-explain > div > h4 {
	font-size: 1.7em;
	text-align: center;
}

#front-explain > div > img {
	min-height: 380px;
}

#front-explain-arrow {
	float: left;
	margin: 225px 15px 0 15px;
	opacity: 0.8;
}

#front-confused {
	text-align: center;
}

#front-confused > h2 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

#front-confused > p {
	font-size: 1.7em;
}

#front-trial {
	text-align: center;
	margin-top: 35px;
}

#front-trial > button {
	font-size: 2.5em;
}

#front-trial > p {
	margin-top: 15px;
	font-size: 1.7em;
}

#front-jobs {
	font-size: 1.7em;
	margin-top: 20px;
	text-align: center;
}


#front-jobs-list,
#front-jobs-list > li {
	display: inline;
}

#front-additional {
	font-size: 2em;
	display: block;
	text-align: center;
}

#front-demo {
	text-align: center;	
}

#front-demo > h3 {
	font-size: 2em;
	margin: 10px 0;
	font-weight: bold;
}

#front-demo > p {
	text-align: center;
	font-size: 1.7em;
	width: 80%;
	margin-left: 10%;
}

#front-misc {
/* 	display: none; */
	margin-top: 20px;
	overflow: hidden;
}

#front-misc > li {
	float: left;
	width: 500px;
}

#front-misc > li > h3 {
	font-size: 2em;
	font-weight: bold;
	margin: 15px 0 5px 0;
}

#front-misc > li > p {
	font-size: 1.5em;
	line-height: 1.3em;
}

#front-misc > li > img {
	float: left;
	margin-right: 25px;
}

#front-misc-mobile {
	margin-right: 50px;
}


#front-misc-config {
	margin-top: 50px;
}

#front-misc-wordpress {
	clear: left;
	margin: 50px 50px 0 0;
}

/* ============= */
/* ! Dashboard   */
/* ============= */


#dash-path {
	overflow: hidden;
	width: 96%;
	
	border-radius: 5px;
	box-shadow: 0 0 3px #888;
	
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #ebebeb));
	background: -webkit-linear-gradient(top center, #ffffff, #d9d9d9);
	background: -moz-linear-gradient(top center, #ffffff, #d9d9d9);
	background: -o-linear-gradient(top center, #ffffff, #d9d9d9);
	background: -ms-linear-gradient(top center, #ffffff, #d9d9d9);
	background: linear-gradient(top center, #ffffff, #d9d9d9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#d9d9d9');
	
	padding: 25px 2%;
	margin-bottom: 50px;
}

#dash-path > div {
	float: left;
	width: 280px;
	text-align: center;
}

#dash-path > img {
	float: left;
	margin: 0 23px;
	opacity: 0.4;
}

#dash-path > div > strong {
	font-size: 2em;
	display: block;
	margin-bottom: 10px;
}

#dash-path > div > p {
	font-size: 1.7em;
}


#dash-path-header {
	font-size: 2.5em;
	margin-bottom: 25px;
	text-align: center;
}


#dash-expired {
	color: red;
	text-align: center;
	font-size: 1.5em;
}

.dash-label {
	float: left;
	width: 15%;
	margin-right: 5%;
}

.dash-label > label {
	display: block;
	font-size: 2em;
	margin-bottom: 2px;
	font-weight: bold;
}

.dash-label > span {
	font-size: 1.6em;	
	color: #999999;
}

.dash-field {
	float: left;
	width: 80%;
	font-size: 1.6em;
}

.dash-field input[type=checkbox], .dash-field input[type=radio] {
	position: relative;
	bottom: 1px;
	margin-right: 2px;
}



#dash-appointments-timeslots-manual {
}

#dash-appointments-timeslots-hours-table,
#dash-appointments-timeslots-manual-table {
	overflow: hidden;
	margin: 15px 0 25px 0;
	position: relative;
}

.dash-appointments-timeslots-blocker {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	opacity: 0.7;
	
	filter: alpha(opacity=70);
}

#dash-appointments-timeslots-hours-table > li {
	float: left;
	width: 110px;
	margin-left: 10px;
}

#dash-appointments-timeslots-hours-table > li:first-child { margin-left: 0; }


.dash-appointments-timeslots-hours-start,
.dash-appointments-timeslots-hours-end {
	width: 110px;
	margin: 2px 0;
}

#dash-appointments-timeslots-manual-table > li:first-child {
	margin-left: 0;
}

#dash-appointments-timeslots-manual-table > li {
	float: left;
	width: 110px;
	margin-left: 10px;
}

.dash-appointments-timeslots-manual-list {
	background-color: #ebebeb;
	border: 2px solid #d1d1d1;
	border-radius: 5px;
	
	padding: 5px;
	min-height: 150px;
	margin: 5px 0;
}

.dash-appointments-timeslots-manual-list > li { margin-top: 3px; }
.dash-appointments-timeslots-manual-list > li:first-child { margin-top: 0; }

.dash-appointments-timeslots-manual-list > li > img {
	opacity: 0.4;
	cursor: pointer;
	float: right;
}

.dash-appointments-timeslots-manual-list > li > img:hover { opacity: 1; }

.dash-appointments-timeslots-manual-add {
	width: 110px;
}

#dash-appointments-timeslots-tip,
#dash-appointments-email-tip {
	margin-top: 15px;
	font-size: 0.9em;
}

#dash-appointments-services-add {
	float: left;
	width: 390px;
}


#dash-appointments-services-add-name {
	width: 279px;
	margin-right: 10px;
}

#dash-appointments-services-add-price {
	width: 80px;
}

#dash-appointments-services-add-description {
	resize: none;
	margin: 10px 0;
	width: 378px;
	height: 50px;
}

#dash-appointments-services-add-duration {
	width: 220px;
	margin-top: 5px;
}

#dash-appointments-services-add-submit {
	font-size: 0.9em;
	float: right;
}

#dash-appointments-services-add-asterisk {
	clear: both;
	margin-top: 15px;
	font-size: 0.8em;
}

#dash-appointments-services-list {
	float: left;
	width: 401px;
	height: 145px;
	overflow: auto;
	margin-right: 25px;
	font-size: 0.9em;
	padding: 10px;

	background-color: #ebebeb;
	border: 2px solid #d1d1d1;
	border-radius: 5px;
}

#dash-appointments-services-list:empty:after {
	content: 'No services.  Add one on the right.';
	font-style: italic;
}

#dash-appointments-services-list > li {
	margin-top: 10px;
}



#dash-appointments-services-list > li:first-child {
	margin-top: 0;
}

#dash-appointments-services-list > li > img {
	float: right;
	cursor: pointer;
	opacity: 0.4;
}

#dash-appointments-services-list > li > img:hover {
	opacity: 1;
}


#dash-appointments-services-list > li > p {
	
}


#dash-appointments-data-types {
	margin-bottom: 5px;
	overflow: hidden;
}

#dash-appointments-data-types > li {
	margin-bottom: 10px;
	width: 45%;
	float: left;
}

#dash-appointments-data-info {
	font-size: 0.9em;
	clear: left;
}

#dash-appointments-booking-min,
#dash-appointments-booking-max {
	margin-bottom: 10px;
}


#dash-appointments-email-create {
	margin-bottom: 10px;
}

#dash-spinner {
	display: none;
	position: fixed;
	top: 25px;
	right: 25px;
	padding: 10px;
	text-align: center;

	background-color: white;
	border: 2px solid #d1d1d1;
	border-radius: 5px;
}

#dash-spinner > strong {
	font-size: 1.5em;
	display: block;
	margin-top: 10px;
}


/* ================= */
/* ! Auth Calendar   */
/* ================= */

#authorize-calendar {
	
}

#authorize-calendar > p {
	font-size: 1.5em;
	margin-bottom: 15px;
}

#authorize-calendar-button {
	text-align: center;
}

#authorize-calendar-button > button {
	font-size: 1.5em;

}

#authorize-calendar > small {
	display: block;
	margin-top: 15px;
	font-size: 1.3em;
	color: #999999;
}


/* ====================== */
/* ! Cancel Appointment   */
/* ====================== */

#cancel-appointment {
	text-align: center;
}

#cancel-appointment > p {
	font-size: 1.7em;
}

#cancel-appointment-confirm {
	font-size: 1.5em;
	margin-top: 10px;
}

#cancel-appointment-loader {
	display: none;
	margin-top: 15px;
}

#cancel-appointment-confirmed {
	display: none;
}


/* ======= */
/* ! FAQ   */
/* ======= */

#faq p, #faq strong {
	font-size: 1.7em;
}

#faq h1 {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 10px;
}

#faq-list {
	margin-bottom: 25px;
}

#faq-list > li {
	margin-top: 25px;
}

#faq-list > li > p {
	color: #888;
}

#faq-list > li:first-child { margin-top: 0; }

#faq-email {
	text-align: center;
}

/* =========== */
/* ! Install   */
/* =========== */

#install p {
	font-size: 1.7em;
}

#install h1 {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 10px;
}

#install textarea {
	font-size: 1.2em;
	resize: none;

}

#install-steps {
	
}

#install-steps > li:first-child {
	margin-top: 0;
}

#install-steps > li {
	margin-top: 50px;
	display: none;
}

#install-steps > li > h2 {
	font-size: 1.9em;
	font-weight: bold;
	margin-bottom: 15px;
}


#install-code-loader {
	width: 1038px;
	height: 100px;
	margin-top: 10px;
	font-family: Courier;
}


#install > .highlight {
	margin-top: 25px;
}

#install-choice {
	margin-bottom: 15px;
	text-align: center;
}

#install-choice > p {
	margin-bottom: 15px;
}

#install-choice > button {
	font-size: 1.5em;
}

#install-choice-myself {
	margin-right: 15px;
}

#install-myself, #install-other { display: none; }

#install-other-email {
	font-size: 1.7em;
	width: 400px;
	display: block;
}

#install-other-message {
	font-size: 1.7em !important;
	width: 400px;
	height: 150px;
	display: block;
	margin-bottom: 15px;
}

#install-other-submit {
	font-size: 1.5em;
}

#install-other-submitting,
#install-other-submitted {
	display: none;
}



#install-type {
	display: none;
}

#install-type > p {
	font-size: 1.7em;
	margin-bottom: 15px;
}

#install-type-list {
	overflow: hidden;
	width: 100%;
}

#install-type-list > li {
	width: 48%;
	float: left;
	padding: 1%;
}

#install-type-list > li > input[type=radio] {
	font-size: 1.7em;
	margin-right: 15px;
}

/* =========== */
/* ! Pricing   */
/* =========== */


#pricing {

}

#pricing > h1 {
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}

#pricing-features {
	font-size: 2em;
	margin-top: 25px;
	padding-left: 250px;
}

#pricing-features > li:first-child {
	margin-top: 0;
}

#pricing-features > li {
	list-style-type: disc;
	list-style-position: inside;
	margin-top: 5px;
}

#pricing-trial {
	text-align: center;
}

#pricing-trial > button {
	font-size: 2.5em;
	margin-bottom: 15px;
}

#pricing-trial > p {
	font-size: 1.7em;
}


/* =========== */
/* ! Sign-up   */
/* =========== */

#sign-up {
}

#sign-up > h1 {
	font-size: 3em;
	font-weight: bold;
	
	margin-bottom: 10px;	
}

#sign-up > p {
	font-size: 1.7em;
}

#sign-up > strong {
	display: block;
	font-size: 2em;
	margin: 20px 0 10px 0;
}

#sign-up > button {
	display: inline;
	font-size: 2em;
}

#sign-up > small {
	display: block;
	font-size: 1.3em;
	color: #888;
}
